<p>Valores: {{formulario.value | json}}</p>
<p>Estado: {{formulario.status | json}}</p>

<form [formGroup]= "formulario" (ngSubmit)="enviar($event)" novalidate>
  <input formControlName="nombre">
  <p class="text-danger" *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched">
    Error por........
  </p>
  <br>
  
  <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!formulario.valid">

</form>

<h2>
  Doble Binding o Banana In a Box
</h2>

{{fruta}}

<br>

<input type="text" [(ngModel)]="fruta">