<div class="thumbnail">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <span class="etiquetaAlq" *ngIf="casa.alquiler">ALQUILER</span>
      <span class="etiquetaVenta" *ngIf="!casa.alquiler">VENTA</span>
      <img src={{casa.foto}} alt="{{casa.nombre}}">

    </div>
  </div>

  <div class="row detalles">
    <div class="col-sm-12 col-md-12">
      <section class="cabecera">
        <span class="nombre">{{casa.nombre}}</span>
        <span class="precio">{{casa.precio}}€</span>
      </section>

      <section class="row caracteristicas">
        <div class="servicios col-md-6">
          <span class="direccion">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Dirección: {{casa.direccion}}</span>
          <span class="habitaciones">
            <i class="fa fa-bed" aria-hidden="true"></i> Nº Habitaciones: {{casa.habitaciones}}</span>
        </div>
        <div class="servicios col-md-5 offset-md-1">
          <h6>Servicios</h6>
          <ul class="list-group lista-servicios">
            <li class="list-group-item" *ngFor="let servicio of casa.servicios">
              <div [class]="(servicio.disponible)? 'etiquetaAlq' : 'etiquetaVenta'">
                <i [class]="(servicio.disponible)? 'fa fa-check-circle' : 'fa fa-times-circle'"></i>
              </div>
              {{servicio.nombre|uppercase}}
            </li>
          </ul>
        </div>
      </section> <!-- // fin row caracteristicas -->
    </div> <!-- fin col-sm-12 col-md-12-->
  </div> <!-- fin div row dettales -->
</div> <!-- fin thumbnail -->