<div class="thumbnail">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <span class="etiquetaAlq" *ngIf="casa.alquiler">ALQUILER</span>
      <span class="etiquetaVenta" *ngIf="!casa.alquiler">VENTA</span>
      <img src={{casa.foto}} alt="{{casa.nombre}}">

    </div>
  </div>

  <div class="row detalles">
    <div class="col-sm-12 col-md-12">
      <section class="cabecera">
        <span class="nombre">{{casa.nombre}}</span>
        <span class="precio">{{casa.precio}}€</span>
      </section>

      <section class="detalles">

        <span class="direccion">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Dirección: {{casa.direccion}}</span>
        <span class="habitaciones">
          <i class="fa fa-bed" aria-hidden="true"></i> Nº Habitaciones: {{casa.habitaciones}}</span>

        
        <div class="servicios">
          <h6>Servicios</h6>
          <span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-television" aria-hidden="true"></i>
          </span>
        </div>
      </section>
    </div>



  </div>
</div>