.thumbnail{
    border:1px solid blue;
    padding:2%;
    margin:0;
}
section.detalles span{
    display: block;
}
img{
    width:100%;
    height: 60vh;
}
.cabecera{
    background-color: rgb(179, 182, 211);
    padding:1%;
}

.nombre, .precio{
    font-size: 1.5em;
    font-weight: 600;
    color:rgb(50, 11, 100);
}
.precio{
    float:right;
}

.servicios{
    border:1px solid #AAA;
    margin:2%;
    margin-top:2%;
    padding:2%;
    clear:both;
}

.etiquetaAlq, .etiquetaVenta{
    position: absolute;
    top:0;
    right:2%;
    cursor:default;

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: default;
    font-weight: 400;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.etiquetaAlq{
    background-color: green;
}

.etiquetaVenta{
    background-color: red;
}