<div class="row">
  <div class="col-sm-12 col-md-12">
    <img src={{casa.foto}} alt="{{casa.nombre}}">
    
  </div>
</div>

<div class="row detalles">
  <div class="col-sm-12 col-md-6">
    <section>
      <span class="nombre">{{casa.nombre}}</span>
      <span class="direccion">{{casa.direccion}}</span>
      <span class="habitaciones">Nº de habitaciones{{casa.habitaciones}}</span> 
      <span>{{casa.alquiler}}</span>
    </section>
  </div>
  <div class="col-sm-12 col-md-6">
      <span class="precio">{{casa.precio}} €</span>
  </div>
</div>
